* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  background-color: rgb(25, 118, 210);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 80px;
  height: 100px;
  margin: 10px;
}
.titulo {
  color: white;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.superior {
  padding-bottom: 5px;
}
.inferior {
  border-top: 2px solid white;
  padding-top: 5px;
}

main {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

main h2 {
  width: 100%;
  font-size: 2rem;
  font-weight: 200;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.ingresoDatos {
  width: 100%;
  height: 100px;
  background-color: #757575;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.formularioBusqueda {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 30px;
}

.formularioBusqueda label {
  color: white;
  text-shadow: 0px 0px 10px black;
}

.formularioBusqueda input {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  padding: 5px 5px 5px 10px;
  font-size: 1.5rem;
  border: none;
  border-radius: 10px;
  outline: none;
}
.formularioBusqueda input:focus {
  box-shadow: 0px 0px 20px rgb(25, 118, 210);
}
.videosBusqueda {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 400px;
  height: 400px;
  background-color: rgb(25, 118, 210);
  margin: 30px;
}
.videosBusqueda:hover {
  transition: all 300ms;
  scale: 1.1;
  box-shadow: 0px 0px 10px gray;
}

.videosBusqueda h3 {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 1.3rem;
  text-align: center;
  color: white;
  text-shadow: 0px 0px 10px black;
  letter-spacing: 2px;
  padding: 10px 5px 5px 5px;
}
.descripcion {
  text-align: justify;
  font-size: 1.1rem;
  color: white;
  padding: 10px;
}

#resultados {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.videoElemento {
  width: 400px;
  height: 400px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

footer {
  height: 10vh;
  background-color: rgb(25, 118, 210);
}

@media screen and (max-width: 767px) {
  header {
    flex-direction: column;
  }

  .logo {
    width: 50px;
    height: 80px;
    margin: 10px;
  }
  .titulo {
    color: white;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    margin: 0px;
    padding-bottom: 10px;
  }

  #resultados {
    flex-direction: column;
  }

  .formularioBusqueda {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 10px;
  }
  .videoLista {
    margin-left: 10px;
    margin-right: 10px;
  }
  .videosBusqueda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 90%;
    height: 400px;
    background-color: rgb(25, 118, 210);
    margin: 5px;
  }
  .videoElemento {
    width: 100%;
    height: 400px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
